.dropdown-toggle-custom::after {
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: middle;
  content: "";
  border-top: 0.4em solid white; /* Белая стрелка */
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
}

.dropdown-toggle-custom {
  color: white !important; /* Для текста */
}

.default-logo {
  display: block;
}

.small-logo {
  display: none;
}

/* Уменьшаем расстояния между элементами для мобильных экранов */
@media (max-width: 576px) {
  .navbar-brand img.default-logo {
    display: none; /* Скрываем большое лого */
  }

  .navbar-brand img.small-logo {
    display: block; /* Показываем маленькое лого */
  }

  .d-flex.align-items-center {
    gap: 4px; /* Уменьшаем расстояние между элементами */
  }

  span.text-white {
    font-size: 14px; /* Уменьшаем размер текста */
  }
}


