/* Глобальные стили для числовых полей */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Красим основные элементы */
.TopBar {
    background-color: #091E34;
}

.BG {
    background-color: #0E3055;
}

.HLD {
    color: var(--bs-secondary-color) !important
}

.HLL {
    color: white;
}

.TL {
    color: aqua;
}

.TD {
    color: mediumvioletred;
}


/* index.css */
.btn-primary {
    background-color: #ff7101 !important;
    /* Переопределяем цвет фона */
    border: none !important;
    /* Убираем границу */
    /* font-size: 18px !important; */
    /* Задаем размер шрифта */
    /* border-radius: 50px !important; */
    /* Добавляем rounded-pill */
}

.card {
    /*background-color: white;*/
}

.filled-button {
    width: 48% ;
    border: 2px solid #ff7101 !important;
    background-color: white !important;
    color: #ff7101 !important;
    font-weight: bold !important;
    padding: 10px !important;
    border-radius: 8px !important;
    transition: all 0.3s !important;
}
.unfilled-button
{
    width: 48% ;
    background-color: #ff7f00 !important;
    border: none !important;
    font-weight: bold !important;
    padding: 10px !important;
    border-radius: 8px !important;
    transition: background-color 0.3s !important;
}

.spinner-border.text-primary {
    color: #ff7101 !important;
}
