.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-button {
    padding: 15px 30px;
    font-size: 18px;
    width: 90%;
}

.under-button-text {
    color: white;
    margin-top: 1%;
    font-size: 15px;
    text-align: center;
}

.main-icon {
    /* Размер иконки */
    font-size: 24px;
    /* Альтернатива: width/height (для SVG) */

    /* Цвет */
    /* color: #3498db; */
    /* Синий (можно использовать HEX, RGB, названия) */

    /* Отступы */
    /* margin: 8px;
    padding: 4px; */

    /* Анимация и эффекты */
    transition: all 0.3s ease;
    /* transform: rotate(15deg); */
    /* Поворот */

    /* Курсор */
    cursor: pointer;

    /* Тень (если нужно) */
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}